<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.0" targetFramework="net462" />
  <package id="TestStack.White.Uia3" version="0.14.0-uiacomwrapper0214" targetFramework="net462" />
  <package id="UIAComWrapper" version="1.1.0.14" targetFramework="net462" />
</packages>