<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="apiClientConfiguration" type="biz.dfch.CS.CoffeeTracker.Client.Wpf.Controls.ApiClientConfigurationSection, biz.dfch.CS.CoffeeTracker.Client.Wpf" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
    
  <apiClientConfiguration apiBaseUri="http://coffeetracker/" />

  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <sources>
      <source name="biz.dfch.CS.CoffeeTracker.Client.Wpf" switchName="SourceSwitchAll">
        <listeners>
          <clear />
          <add name="DefaultTraceListener" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="SourceSwitchOff" value="Off" />
      <add name="SourceSwitchAll" value="All" />
      <add name="SourceSwitchActivityTracing" value="ActivityTracing" />
      <add name="SourceSwitchVerbose" value="Verbose" />
      <add name="SourceSwitchInformation" value="Information" />
      <add name="SourceSwitchWarning" value="Warning" />
      <add name="SourceSwitchError" value="Error" />
      <add name="SourceSwitchCritical" value="Critical" />
    </switches>
    <sharedListeners>
      <add name="DefaultTraceListener" type="System.Diagnostics.DefaultTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" traceOutputOptions="Callstack, DateTime">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All" />
      </add>
    </sharedListeners>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="DefaultTraceListener" type="System.Diagnostics.DefaultTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
